<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
<link rel="stylesheet" type="text/css" href="__STYLE__/css/Login.css">
<script src="__STYLE__/js/jquery-3.2.1.min.js"></script>
<script>
function yanzheng(){
	var id = $('#phone').val();
	var reg = /^1[3|5|8|7|4][0-9]{9,9}$/;
	if(reg.test(id)){
    	$.ajax({
            url:"{:U('Login/ajax')}",
            type:"POST",
            data:{"id":id},
            success: function(e){
            	alert(e);
            }
            });
	}else{
		alert('手机号码输入错误');
	}
}
</script>
<title>忘记密码</title>
</head>
<body>
  <div class="main">
     <div class="top">
     </div>
     <div class="center">
        <div class="cleft">
           <img src="__STYLE__/img/login_log.png" />
        </div>
        <div class="cright">
          <form class="system" action="{:U('Login/password')}" method="post">
		       <a href="{:U('Login/index')}" style = "width:30%;line-height:30px;background:#8cd121;display:block;text-align:center;height:34px;border-radius:5px;float:right;color:#ffffff;">返回登录 </a>		
             <div class="sytop" style="clear:both;">			 
                <p>找回密码</p>			
             </div>
             <div class="number">
                <p style = "margin-top:20px;margin-bottom:20px;"><input type='text' placeholder="请输入用户名/手机号" name="username" id = "phone"/></p>
                <p style = "margin-bottom:20px;margin-top:0;">
                <input type='text' placeholder="请输入短信验证码" name="pass" style = "width:45%;"/>
                 <input type="button"  value="获取验证码" onclick="settime(this);yanzheng()" style = "width:30%;line-height:30px;background:#8cd121;display:inline-block;text-align:center;height:34px;border-radius:5px;cursor:pointer;margin:0;padding:0;" />
                </p>
                  <script> 
                	var countdown=300; 
                	function settime(obj) { 
                	    if (countdown == 0) { 
                	        obj.removeAttribute("disabled");    
                	        obj.value="获取验证码"; 
                	        countdown = 300; 
                	        return;
                	    } else { 
                	        obj.setAttribute("disabled", true); 
                	        obj.value="重新发送(" + countdown + ")"; 
                	        countdown--; 
                	    } 
                	setTimeout(function() { 
                	    settime(obj) }
                	    ,1000) 
                	}
                  </script>
                <p style = "margin-bottom:20px;margin-top:0;"><input type='password' placeholder="请输入新密码，5到18个字符" name="password"/></p>
             </div>
             <input type="submit" value="立即找回" class="button" style = "margin-top:20px; margin-left:80px;"/>		 
          </form>
        </div>
     </div>
  </div>
</body>
</html>