<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>总库有窗口</title>
<link rel="stylesheet" type="text/css" href="__STYLE__/css/purchase.css">
</head>
<body>
 <div class="main" style = "height:450px;">
   <div class="top">
     <span>收款</span> 
     <p class="erd"><a href="__URL__/index">×</a></p>
   </div>
    <p style="color:black;font-size:20px;" >您好，该商品为第一次出售，请输入进价和售价，若需修改详细信息请到商品管理。</p>
   <form action="__URL__/addgoods/gid/{$list['gid']}" method="post">
     商 品: <input type="text" value="{$list['gname']}" name="goodsname" readOnly="true" /><br>
     进 价: <input type="text" name='goodsbid' /><br>
     售 价: <input type="text"  name='goodssale'/>
     <input type="submit" value="确 定"/>
   </form>
 </div>
</body>
<script>



</script>
</html>